#note-container {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
}
.red {
  background-color: indianred;
  cursor: pointer;
}
.center {
  margin-top: 15px;
  text-align: center;
}
.note-title {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 11pt;
  color: #000;
}
.note-text {
  display: block;
  text-align: left;
  color: gray;
  font-size: 10pt;
}
.note-id {
  display: block;
  text-align: left;
  color: gray;
  font-size: 8pt;
}
