/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #edf1f5;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

.button {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 10pt;
  border: none;
}
